div(id='form_container')
    h1 Test of different search solutions

    input(
        type='text'
        id='search-input'
        placeholder='Search terms'
        value=''
    )
    button(
      id='search-btn'
    ) Search all
    br
    label
      input(
          type='checkbox'
          id='search-realtime-chckbox'
          value='false'
      ) 
      | Search as you type
    br
    input(id='short-list-radio', type='radio', name='listTypeRadio', checked='true')
    | short list
    br
    input(id='long-list-radio', type='radio', name='listTypeRadio' )
    | long list


div
  div.header  
      Test A] Results for 
      a(href='http://fusejs.io') fuse.js
      label &nbsp;&nbsp;(
          input(
              type='checkbox'
              id='fuse-checkbox'
              class='activation-checkbox'
              value='false'
          )
          |  activated)
  label.comment-toggler Explanations
  div.comments#fuse-comments
  div(id='fuse-results' class="output_container")


div
  div.header B] Fuzzaldrin results
    label &nbsp;&nbsp;(
        input(
            type='checkbox'
            id='fuzzaldrin-checkbox'
            class='activation-checkbox'
            value='false'
        )
        |  activated)
  label.comment-toggler Explanations
  div.comments#fuzzaldrin-comments
  div(id='fuzzaldrin-results' class="output_container")


div
  div.header C] Fuzzaldrin-Plus results
    label &nbsp;&nbsp;(
        input(
            type='checkbox'
            id='fuzzaldrin-plus-checkbox'
            class='activation-checkbox'
            value='false'
        )
        |  activated)
  label.comment-toggler Explanations
  div.comments#fuzzaldrin-plus-comments
  div(id='fuzzaldrin-plus-results' class='output_container')
  

div
  div.header D] search by "fuzzy words"
    label &nbsp;&nbsp;(
        input(
            type='checkbox'
            id='fuzzy-words-checkbox'
            class='activation-checkbox'
            value='false'
        )
        |  activated)
  label.comment-toggler Explanations
  div.comments#fuzzy-words-comments
  div(id='fuzzy-words-results' class="output_container")
