div(id='form_container')
    h1 Test of fuse.js (
        a(href='http://fusejs.io') http://fusejs.io
        | )

    input(
        type='text'
        id='input1'
        placeholder='Search'
        value=''
    )
    button(
        id='btn'
    ) Go !

div(id='output_container')
    
