p Client web for Lastpass (
    a(href='http://lastpass.com') http://lastpass.com
    | )

input(
    type='text'
    id='username'
    placeholder='Lastpass user'
    value='ben@sonadresse.com'
)
input(
    type='text'
    id='password'
    placeholder='password'
    value='toto32toto32'
)
button(
    id='btn'
    autofocus='true'
) Get data from Lastpass
p(
    name='result'
    placeholder='result'
) tt
p(
    name='log'
    placeholder='logs'
) dd
